************************************Question 1***********************************
Given two arrays, arr1 and arr2 of equal length N, the task is to find if the given arrays are equal or not. 

Two arrays are said to be equal if:
both of them contain the same set of elements, 
arrangements (or permutations) of elements might/might not be same.
If there are repetitions, then counts of repeated elements must also be the same for two arrays to be equal.

Input: arr1[] = {1, 2, 5, 4, 0}, arr2[] = {2, 4, 5, 0, 1}
Output: Yes

Input: arr1[] = {1, 2, 5, 4, 0, 2, 1}, arr2[] = {2, 4, 5, 0, 1, 1, 2} 
Output: Yes

Input: arr1[] = {1, 7, 1}, arr2[] = {7, 7, 1}
Output: No

Expected Time Complexity = O(n)



***********************Question 2*************************************
Given an array A of positive integers. Your task is to find the leaders in the array. 
An element of array is leader if it is greater than or equal to all the elements to its right side. The rightmost element is always a leader.


Input:
n = 6
A[] = {16,17,4,3,5,2}
Output: 17 5 2
Explanation: The first leader is 17 
as it is greater than all the elements
to its right.  Similarly, the next 
leader is 5. The right most element 
is always a leader so it is also 
included.

Input:
n = 5
A[] = {1,2,3,4,0}
Output: 4 0
Expected Time Complexity: O(n) 




****************************************Question 3******************************************************
Given an array of integers, find the length of the longest sub-sequence such that elements in the subsequence are consecutive integers, the consecutive numbers can be in any order.
Input: arr[] = {1, 9, 3, 10, 4, 20, 2}
Output: 4
Explanation: The subsequence 1, 3, 4, 2 is the longest subsequence of consecutive elements

Input: arr[] = {36, 41, 56, 35, 44, 33, 34, 92, 43, 32, 42}
Output: 5
Explanation: The subsequence 36, 35, 33, 34, 32 is the longest subsequence of consecutive elements.




***********************************Question 4************************************************************
Given an unsorted array Arr of size N of positive integers. One number 'A' from set {1, 2, …N} is missing and one number 'B' occurs twice in array. Find these two numbers.
Input:
N = 2
Arr[] = {2, 2}
Output: 2 1
Explanation: Repeating number is 2 and 
smallest positive missing number is 1.
Input:
N = 4
Arr[] = {1, 3, 3}
Output: 3 2
Explanation: Repeating number is 3 and 
smallest positive missing number is 2.s






******************** SQL *********************************

1. Write a SQL query to find all numbers that appear at least three times consecutively.

Ex 1 
+----+-----+
| Id | Num |
+----+-----+
| 1 | 1 |
| 2 | 1 |
| 3 | 1 |
| 4 | 2 |
| 5 | 1 |

given the above Logs table, 1 is the only number that appears consecutively for at least three times.



2. Write a SQL query to get the nth highest salary from the Employee table.

+----+--------+
| Id | Salary |
+----+--------+
| 1 | 100 |
| 2 | 200 |
| 3 | 300 |


For example, given the above Employee table, the nth highest salary where n = 2 is 200. If there is no nth highest salary, then the query should return null.

1. ************************************Question 1***********************************
Given two arrays, arr1 and arr2 of equal length N, the task is to find if the given arrays are equal or not. 

Two arrays are said to be equal if:
both of them contain the same set of elements, 
arrangements (or permutations) of elements might/might not be same.
If there are repetitions, then counts of repeated elements must also be the same for two arrays to be equal.

Input: arr1[] = {1, 2, 5, 4, 0}, arr2[] = {2, 4, 5, 0, 1}
Output: Yes

Input: arr1[] = {1, 2, 5, 4, 0, 2, 1}, arr2[] = {2, 4, 5, 0, 1, 1, 2} 
Output: Yes

Input: arr1[] = {1, 7, 1}, arr2[] = {7, 7, 1}
Output: No

Expected Time Complexity = O(n)

In [13]:
for i in range(len(l1)):
    for j in range(len(l1)):
        if l1[i]!=l2[j]:
            break 
            print('NO')
        else:
            print('yes')

yes

2. Given an array A of positive integers. Your task is to find the leaders in the array. 
An element of array is leader if it is greater than or equal to all the elements to its right side. The rightmost element is always a leader.


Input:
n = 6
A[] = {16,17,4,3,5,2}
Output: 17 5 2
Explanation: The first leader is 17 
as it is greater than all the elements
to its right.  Similarly, the next 
leader is 5. The right most element 
is always a leader so it is also 
included.

Input:
n = 5
A[] = {1,2,3,4,0}
Output: 4 0
Expected Time Complexity: O(n)

In [42]:
arr=[16,17,4,3,5,2]
def leader(arr,x):
    for i in range(0,x):
        for j in range(i+1,x):
            if arr[i]<=arr[j]:
                break
        if j==x-1:
            print(arr[i],' ',end='')

In [43]:
leader(l,len(l))

17  5  2

3. Given an array of integers, find the length of the longest sub-sequence such that elements in the subsequence are consecutive integers, the consecutive numbers can be in any order.
Input: arr[] = {1, 9, 3, 10, 4, 20, 2}
Output: 4
Explanation: The subsequence 1, 3, 4, 2 is the longest subsequence of consecutive elements

Input: arr[] = {36, 41, 56, 35, 44, 33, 34, 92, 43, 32, 42}
Output: 5
Explanation: The subsequence 36, 35, 33, 34, 32 is the longest subsequence of consecutive elements.

In [14]:
arr=[1, 9, 3, 10, 4, 20, 2]
def consec(arr):
    arr=sort(arr)
    n= len(arr)
    max_len=0
    curr_len=1
    for i in range(1,n):
        if arr[i] == arr[i-1]+1:
            curr_len+=1
        else:
            max_len=max(max_len,curr_len)
            curr_len=1

4. 
Given an unsorted array Arr of size N of positive integers. One number 'A' from set {1, 2, …N} is missing and one number 'B' occurs twice in array. Find these two numbers.
Input:
N = 2
Arr[] = {2, 2}
Output: 2 1
Explanation: Repeating number is 2 and 
smallest positive missing number is 1.
Input:
N = 4
Arr[] = {1, 3, 3}
Output: 3 2
Explanation: Repeating number is 3 and 
smallest positive missing number is 2.s

In [ ]:
1. Write a SQL query to find all numbers that appear at least three times consecutively.

Ex 1 
+----+-----+
| Id | Num |
+----+-----+
| 1 | 1 |
| 2 | 1 |
| 3 | 1 |
| 4 | 2 |
| 5 | 1 |

given the above Logs table, 1 is the only number that appears consecutively for at least three times.

In [ ]:
select num from table logs order by num where count(num)>2

In [ ]:
2. Write a SQL query to get the nth highest salary from the Employee table.

+----+--------+
| Id | Salary |
+----+--------+
| 1 | 100 |
| 2 | 200 |
| 3 | 300 |


For example, given the above Employee table, the nth highest salary where n = 2 is 200. If there is no nth highest salary, then the query should return null.

In [ ]:
select * from table employee order by salary desc limit 1